/* Gerais */
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #94E9F2;
  border-radius: 30px;
}
::selection, .highlighter{
  background: #ff0000c0;
  color: #fff;
}
h4 {
  margin-top: 20px;
  text-align: center;
}
span.highlighter {
  background-color: #ff0000c0;
  padding: 2px 20px;
  border-radius: 5px;
  color: #fff;
}
.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 15px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 70px;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  height: 230px;
}

.navbar-brand {
  padding: 0;
}

#navbar-links a {
  color: #FFF;
  transition: all 0.2s;
}
#navbar-links i {
  width: 15px;
  height: 15px;
  border: 1px solid #94E9F2;
  border-radius: 50%;
  padding: 5px;
}
#navbar-links i:hover {
  transition: all .2s ease-in-out;
  background-color: #3EC1D5;
  color: #fff;
}
#navbar-links a:hover::after {
  background-color: transparent;
  color: #94E9F2;
  transition: all 0.2s;
}
#navbar-links a:focus {
  color: #65DAF9;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
  padding: 0px;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
width: 100%;
height: 100vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #FFF;
}

.main-btn {
  background-color: #65DAF9;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid transparent;
  border-radius: 30px 0px 30px 30px;
  transition: .5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #3EC1D5;
}

.carousel-indicators .active {
  background-color: #65DAF9;
}

/* Sobre a empresa */
.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #65DAF9;
  margin-right: 15px;
  border: 1px solid #333;
  border-radius: 50%;
  padding: 5px;
  margin-top: 10px;
  transition: all 0.2s;
}

#about-list i:hover {
  background-color: #333;
  color: #fff;
  margin-left: 10px;
  transition: all 0.2s;
}

.img-fluid {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.img-fluid:hover{
 filter: drop-shadow(2px 10px 10px #65DAF9);
}
/* Serviços */
.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box h4 {
  transition: .5s;
  font-size: 32px;
}

.title-servicos {
  margin-top: 2rem;
}

.service-box i {
  margin-bottom: 20px;
  color: #444;
  font-size: 36px;
  transition: all 0.2s;
  border-radius: 50%;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover>i {
  color: #65DAF9;
  box-shadow: 3px 3px 3px #0000005d;
  transition: all 0.2s;
}

/* Dados */

.circle-box div {
  padding: 0px 40px;
}

.progressbar-text {
  font-weight: bold;
  font-size: 2rem;
}

#data-area p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}

#team-area {
  background-color: #F9F9F9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.card {
  text-align: center;
}

.card p {
  border: 1px solid #444;
  font-size: 15px;
  border-radius: 30px;
  transition: all 0.2s;
}
.card p:hover {
  background-color: #3ec1d5;
  color: #fff;
  transition: all 0.2s;
}
.img-top {
  transition: all 0.2s;
  
}

.img-top:hover {
  box-shadow: 2px 2px 2px #3EC1D5;
  transform: scale(1.1);
  border-radius: 10px;
}

.card-title h5 {
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

/* Portifólio */
.nossos-produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
  .card-title {
    text-align: center;
  }
  .nossos-produtos a {
    text-decoration: none;
    margin-top: 1rem;
    text-align: center;
  }
  .nossos-produtos img {
    width: 80%;
    margin-top: 8px;
  }
  .offcanvas-title {
    color: #E6E0D6;
    text-align: center;
  }
  .product-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 220px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    border-radius: 30px 0px 30px 30px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-btn a:hover {
    text-decoration: none;
  }
  .product-btn i {
    color: #fff;
    transition: 2s ease-in-out;
  }
  .product-btn:hover i{
    background-color: #25D366;
  }
  .accordion-body {
    border-radius: 15px;
  }

#email-input {
  border-radius: 20px;
  border: 1px solid #94e9f2;
  display: inline;
  box-sizing: border-box;
  outline: none;
  width: 40%;
  height: 40px;
}

/* call to action */
#call-area {
  width: 100%;
  background-color: #65daf9;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

#call-area .container {
  padding: 50px 100px;
}
#call-area .row {
  display: block;
  justify-content: center;
  text-align: center;
}

#call-area p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  letter-spacing: 2px;
  margin-bottom: 0px;
  display: inline;
  height: 60px;
  line-height: 60px;
}

#call-area #call-btn {
  background-color: #fff;
  color: #65daf9;
  font-weight: bold;
  font-size: 18px;
  margin-left: 30px;
  width: auto;
  letter-spacing: 2px;
  transition: all 0.2s;
}

#call-btn:hover {
  transition: all 0.2s;
  background-color: transparent;
}
/* footer */
#contact-area {
  text-align: center;
}
.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
  margin-bottom: 50px; 
  border-bottom: 1px solid #3ec1d5;
}
.contact-box i {
  color: #444;
  font-size: 20px;
  margin-bottom: 20px;
  border: 1px solid #444;
  margin-bottom: 10px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: all 0.2s;
}

.contact-box i:hover {
  transition: all 0.2s;
  background-color: #65DAF9;
  color: #fff;
  border: 1px solid #65daf9;
  margin-top: -10px;
}
.contact-box p {
  font-size: 18px;
  text-align: center;
}
.contact-title {
  font-weight: bold;
  color: #3ec1d5;
}
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 20px;
}
#contact-form .main-btn {
  text-transform: capitalize;
  width: 120px;
  height: 50px; 
  transition: all 0.2s;
}
#contact-form .main-btn:hover {
  color: #3ec1d5;
  transition: all 0.2s;
}
/* copy right */
#copy-area {
  background-color: #f9f9f9;
}
#copy-area .container {
  padding: 10px 0px;
  text-align: center;
}
#copy-area .container p {
  color: #444;
  font-size: 15px;
  font-style: italic;
  margin-top: 20px;
}
.icons {
  width: 100%;
 margin: auto;
}
.icons i {
  color: #444;
}
.icons i:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
  color: #3ec1d5;
}
input.form-control {
  outline: none;
}
/* responsividade tablet */
@media(max-width: 921px) {
  /* geral */
  h3.card-text {
    font-size: 1.2rem;
  }
  .navbar {
    width: 100%;
    height: 74px;
    background: #00000080;
  }
  .navbar-toggler {
    margin-top: -80px;
    border-radius: 5px;
  }
  #navbar-links a {
    background: #444;
  }
  .navbar-brand {
    margin-top: -80px;
  .container {
    padding: 20px 0;
  }
  
 .container-fluid {
  padding: 0px;
}
}
#mainSlider .carousel-inner, #mainSlider .carousel-item {
   width: 100%;
  height: auto;
}

#mainSlider .carousel-caption h2 {
  font-size: 28px;
}

#mainSlider .carousel-caption p {
  font-size: 18px;
  margin-bottom: 40px;
}

.carousel-caption {
  left: 10%;
  right: 10%;
}
  
  /* about */
  #about-area img {
    margin-top: 100px;
    margin-bottom: 2rem;
  }
  
  /* data */
  .circle-box div {
    padding: 0 10px;
  }

  #data-area p {
    font-size: 16px;
  }
  
  /* team */
  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  /* apply */
  #apply-area .apply-box {
    padding: 50px 25px;
  }

  /* news */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #email-input {
    width: 70%;
  }
  #call-area {
    margin-top: 30px;
  }
  #call-area .container {
    padding: 30px;
  }
  #call-area p, #call-area #call-btn {
    font-size: 16px;
  }
}

footer {
  width: 100%;
  background: #F9F9F9;
}
/* responsividade celular */
@media(max-width: 600px) {
  h3.card-text {
    font-size: 1.1rem;
  }
  .navbar {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000080;
  }
  
  #navbar-links a {
    background: #444;
  }
  .navbar-brand {
    margin-top: -80px;
  }
  /* slider */
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    width: 100%;
    height: auto;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }

  /* about */
  .main-title {
    font-size: 30px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 40px;
  }
.img-fluid {
  width: 200px;
  height: 200px;
}
.about-title {
  text-align: center;
  margin-left: 20px;
  font-size: 18px;
}
img.img-fluid {
  width: 100px;
  height: 100px;
}
#about, h3.main-title {
  margin-top: 5rem;
}
  /* data */
  .circle-box {
    width: 50%;
  }

  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  /* apply */
  #apply-area {
    height: auto;
  }

  #company-img {
    display: none;
  }

  /* filter */
  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  }

  /* news */
  #news-area .main-title {
    font-size: 24px;
  }

  #news-area p {
    font-size: 16px;
  }

  #email-input {
    width: 80%;
  }

  #call-area p, #call-area #call-btn {
    font-size: 15px;
    letter-spacing: 0;
  }

  #call-area p, #call-area #call-btn {
    margin: 0;
    width: 50%;
  }

  /* contact */
  .contact-box {
    border: none;
    margin-bottom: 0;
  }
}

/* animações */
.main-title, .about-text, .about-img, .service1, .service2, .service3, .service4, .service5, .service6, .animate-products, .fone, .email, .local{
  visibility: hidden;
}
